.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  block-size: 100%;
}

.divider {
  position: relative;
  text-align: center;
}

.divider::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  inset-inline: 0;
  block-size: 1px;
  background-color: #e4e8df;
}

.dividerText {
  position: relative;
  padding: 0 12px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #253017;
}

.submit {
  background-color: #abd27a;
  padding: 12px 0;
  border-radius: 12px;
}

.error {
  margin: 4px 0 0;
  color: #bf3920;
  font-size: 13px;
}