.section {
  display: grid;
  grid-template-columns: 324px 1fr;
  gap: 20px;
  width: 100%;
}

.author {
  min-width: 0;
}

.user {
  padding: 42px;
}

.skillCard {
  min-width: 0;
  border-radius: 12px;
}

@media (width <= 768px) {
  .section {
    grid-template-columns: 1fr;
  }
}
