.authInfoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 660px;
  border-radius: 12px;
  padding: 40px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin-bottom: 40px;
}

.image svg {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  vertical-align: middle;
  color: #253017;
  font-family: Jost, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.1%;
  text-align: center;
}

.description {
  max-width: 330px;
  margin: 12px 0 0;
  vertical-align: middle;
  color: #253017;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}
