.root {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--space-sm);
  border-radius: var(--radius-lg);
  padding-inline: var(--space-md);
  color: var(--color-text-secondary);
  background-color: #fff;
  min-inline-size: 200px;
  block-size: 45px;
}

.root > svg {
  flex-shrink: 0;
}

.root:focus-within {
  outline: 2px solid #abd27a;
  outline-offset: 2px;
}

.input {
  flex: 1;
  border: none;
  padding: 0;
  outline: none;
  color: var(--color-text);
  font: inherit;
  background: transparent;
  min-inline-size: 0;
}

.root:hover {
  outline: 2px solid #abd27a;
  outline-offset: 2px;
}

.input::placeholder {
  opacity: 1;
  color: var(--color-text-secondary);
}
