.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}

.message {
  padding: 48px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
}

.center {
  justify-content: center;
  align-items: center;
}