.content {
  display: flex;
  flex-direction: column;
  padding: 44px 60px;
  gap: 40px;
}

.header {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: var(--font-jost);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.1%;
  text-align: center;
  vertical-align: middle;
  color: #253017;
}

.subtitle {
  color: #253017;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: center;
  vertical-align: middle;
}

.grid {
  display: grid;
  grid-template-columns: 420px 440px;
  grid-template-rows: 256px min-content;
  gap: 18px 40px;
}

.info {
  grid-column: 1;
  grid-row: 1;
}

.carousel {
  grid-column: 2;
  grid-row: 1 / 2;
}

.buttons {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 12px;
}

.edit {
  padding: 12px 27px;
  border: 1px solid #abd27a;
  border-radius: 12px;
  display: flex;
  gap: 8px;
}

.confirm {
  padding: 12px 0;
  background-color: #abd27a;
  border-radius: 12px;
  flex-grow: 2;
}

.error {
  margin: 4px 0 0;
  color: #bf3920;
  font-size: 13px;
  grid-row: 3;
}