.expandListButton {
  align-self: flex-start;
  gap: 4px;
  padding: 0;
  background-color: transparent;
  color: #508826;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 24px;
}

.expandListButton:hover {
  color: #253017;
}

.icon {
  display: inline-flex;
  transition: transform 0.2s;
}

.iconExpanded {
  transform: rotate(180deg);
}