@font-face {
  font-family: jost;
  src: url("Jost.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: openSans;
  src: url("OpenSans.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: roboto;
  src: url("Roboto.ttf");
  font-weight: normal;
  font-display: swap;
}