.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: var(--color-bg);
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 32px;
  min-height: 104px;
  padding-block: 36px 20px;
}

.auth {
  display: flex;
  gap: 24px;
  align-items: center;
}
