.userCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  inline-size: 100%;
  block-size: 100%;
  justify-content: space-between;
}

.favoriteWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  vertical-align: middle;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}