.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0;
  color: #21291b;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}

.category {
  margin: 0;
  color: #71766f;
  font-weight: 400;
  font-size: 14px;
}

.description {
  margin: 0;
  color: #21291b;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  white-space: pre-line;
}