.moreButton {
  width: 100%;
  padding: 12px 24px;
  border-radius: 12px;
  gap: 8px;
  background-color: #abd27a;
  color: #253017;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.moreButton:hover {
  background-color: #deebc5;
}

.moreButton:disabled {
  opacity: 1;
  cursor: not-allowed;
  background-color: #fff;
  color: #253017;
  border: 1px solid #abd27a;
}
