.sortToggle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 27px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  border-radius: 12px;
}

.sortToggle:hover {
  background-color: #deebc5;
}